################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test/bin
/Test/obj
/TextFilter/bin
/TextFilter/obj
